apiVersion: v1
kind: Secret
metadata:
  labels:
    app: liveblog
  name: liveblog-secrets
  namespace: liveblog
type: Opaque
data:
data:
  # ALL SECRETS MUST BE BASE64 ENCODED IN THI FILE

  # https://teamvault.apps.seibert-media.net/secrets/0xn9bg
  amazon-access-key-id: (username)
  amazon-secret-access-key: (password)

  # https://teamvault.apps.seibert-media.net/secrets/m1o2xv
  embedly-key: (password)

  # https://teamvault.apps.seibert-media.net/secrets/gOjjAv
  gmail-username: (username)
  gmail-password: (password)
