apiVersion: v1
kind: Secret
metadata:
  labels:
    app: liveblog
  name: liveblog-secrets
  namespace: liveblog
type: Opaque
data:
  amazon-access-key-id: …
  amazon-secret-access-key: …
  embedly-key: …
